# pandas - "A melhor biblioteca do Python para Dados"

- Quase sempre que você for trabalhar com dados no Python você vai usar o pandas, então é importante você saber trabalhar com essa biblioteca muito bem

- Vamos aprender os principais comandos e os princípios básicos do pandas

- Faça o download do Gabarito desse arquivo e use como uma cartilha de consulta (Link na descrição)

### Importando o pandas

In [2]:
import pandas as pd

### Criando um dataframe a partir de um dicionário

In [3]:
# dataframe = pd.DataFrame()
sales = {
        'data': ['15/02/2021', '16/02/2021'],
         'valor': [500, 300],
         'produto': ['feijao', 'arroz'],
         'qtde': [50, 70],
        }

sales_df = pd.DataFrame(sales)

### Visualização dos Dados
    - print
    - display

In [4]:
print(sales_df)

         data  valor produto  qtde
0  15/02/2021    500  feijao    50
1  16/02/2021    300   arroz    70

### Importando arquivos e bases de dados

In [5]:
sales_df = pd.read_excel('./databases/Vendas.xlsx')
print(sales_df)

       Código Venda       Data              ID Loja            Produto  \
0                 1 2019-01-01   Iguatemi Esplanada     Sapato Estampa
1                 1 2019-01-01   Iguatemi Esplanada           Camiseta
2                 1 2019-01-01   Iguatemi Esplanada      Sapato Xadrez
3                 2 2019-01-02       Norte Shopping            Relógio
4                 2 2019-01-02       Norte Shopping       Chinelo Liso
...             ...        ...                  ...                ...
93905         65012 2019-11-30  Shopping Vila Velha     Mochila Xadrez
93906         65013 2019-11-30    Ribeirão Shopping  Pulseira Listrado
93907         65013 2019-11-30    Ribeirão Shopping     Cueca Listrado
93908         65014 2019-11-30     Shopping Morumbi     Pulseira Linho
93909         65014 2019-11-30     Shopping Morumbi      Casaco Xadrez

       Quantidade  Valor Unitário  Valor Final
0               1             358          358
1               2             180          360
2               1             368          368
3               3             200          600
4               1              71           71
...           ...             ...          ...
93905           2             283          566
93906           2              79          158
93907           3              67          201
93908           5             114          570
93909           4             259         1036

[93910 rows x 7 columns]

### Resumos de Visualização de Dados simples e úteis
    - head
    - shape
    - describe

In [6]:
print(sales_df.head(10))
print(sales_df.describe())

   Código Venda       Data                     ID Loja  \
0             1 2019-01-01          Iguatemi Esplanada
1             1 2019-01-01          Iguatemi Esplanada
2             1 2019-01-01          Iguatemi Esplanada
3             2 2019-01-02              Norte Shopping
4             2 2019-01-02              Norte Shopping
5             3 2019-01-02  Rio Mar Shopping Fortaleza
6             5 2019-01-02              Shopping Barra
7             6 2019-01-02         Shopping Ibirapuera
8             7 2019-01-02              Norte Shopping
9             7 2019-01-02              Norte Shopping

                  Produto  Quantidade  Valor Unitário  Valor Final
0          Sapato Estampa           1             358          358
1                Camiseta           2             180          360
2           Sapato Xadrez           1             368          368
3                 Relógio           3             200          600
4            Chinelo Liso           1              71           71
5             Cinto Linho           1             248          248
6                   Calça           1             170          170
7           Polo Listrado           4             149          596
8  Camisa Gola V Listrado           1             116          116
9             Camisa Liso           1             105          105
       Código Venda    Quantidade  Valor Unitário   Valor Final
count  93910.000000  93910.000000    93910.000000  93910.000000
mean   32464.762155      2.166553      191.725886    414.862656
std    18809.007093      1.258732      145.215519    434.846228
min        1.000000      1.000000       30.000000     30.000000
25%    16204.000000      1.000000      100.000000    156.000000
50%    32367.000000      2.000000      155.000000    274.000000
75%    48793.750000      3.000000      248.000000    524.000000
max    65014.000000      5.000000      750.000000   3750.000000

### Pegar 1 coluna (e os pd.Series)

In [7]:
products = sales_df[['Produto', 'ID Loja']]
print(products)

                 Produto              ID Loja
0         Sapato Estampa   Iguatemi Esplanada
1               Camiseta   Iguatemi Esplanada
2          Sapato Xadrez   Iguatemi Esplanada
3                Relógio       Norte Shopping
4           Chinelo Liso       Norte Shopping
...                  ...                  ...
93905     Mochila Xadrez  Shopping Vila Velha
93906  Pulseira Listrado    Ribeirão Shopping
93907     Cueca Listrado    Ribeirão Shopping
93908     Pulseira Linho     Shopping Morumbi
93909      Casaco Xadrez     Shopping Morumbi

[93910 rows x 2 columns]

### .loc, um método muito importante
    - Pegar 1 linha
    - Pegar linhas de acordo com alguma condição
    - Pegar linhas e colunas específicas
    - Pegar 1 valor específico

In [9]:
# Get a specific line
# display(sales_df.loc[1:5])
# Get lines according some codition

# sales_norteshopping_df = (sales_df.loc[sales_df['ID Loja'] == 'Norte Shopping' ])
# display(sales_norteshopping_df)

# sales_norteshopping_df = (sales_df.loc[sales_df['ID Loja'] == 'Norte Shopping', ['ID Loja', 'Produto', 'Quantidade'] ])
# print(sales_norteshopping_df)

print(sales_df.loc[1, 'Produto'])

Camiseta

### Adicionar 1 coluna

In [24]:
# from an existing columns
sales_df['Comissão'] = sales_df['Valor Final'] * 0.05

print(sales_df)

# Create a column with a standard value
sales_df.loc[:, "Imposto"] = 0
print(sales_df)

      Código Venda       Data                     ID Loja           Produto  \
0                1 2019-01-01          Iguatemi Esplanada    Sapato Estampa
1                1 2019-01-01          Iguatemi Esplanada          Camiseta
2                1 2019-01-01          Iguatemi Esplanada     Sapato Xadrez
3                2 2019-01-02              Norte Shopping           Relógio
4                2 2019-01-02              Norte Shopping      Chinelo Liso
...            ...        ...                         ...               ...
7084         69996 2019-12-26  Center Shopping Uberlândia    Short Listrado
7085         69996 2019-12-26  Center Shopping Uberlândia           Mochila
7086         69996 2019-12-26  Center Shopping Uberlândia  Pulseira Estampa
7087         69997 2019-12-26           Ribeirão Shopping   Camisa Listrado
7088         69997 2019-12-26           Ribeirão Shopping       Short Linho

      Quantidade  Valor Unitário  Valor Final  Comissão  Imposto
0              1             358          358     17.90        0
1              2             180          360     18.00        0
2              1             368          368     18.40        0
3              3             200          600     30.00        0
4              1              71           71      3.55        0
...          ...             ...          ...       ...      ...
7084           2             102          204     10.20        0
7085           4             270         1080     54.00        0
7086           1              87           87      4.35        0
7087           1             108          108      5.40        0
7088           2             133          266     13.30        0

[108088 rows x 9 columns]
      Código Venda       Data                     ID Loja           Produto  \
0                1 2019-01-01          Iguatemi Esplanada    Sapato Estampa
1                1 2019-01-01          Iguatemi Esplanada          Camiseta
2                1 2019-01-01          Iguatemi Esplanada     Sapato Xadrez
3                2 2019-01-02              Norte Shopping           Relógio
4                2 2019-01-02              Norte Shopping      Chinelo Liso
...            ...        ...                         ...               ...
7084         69996 2019-12-26  Center Shopping Uberlândia    Short Listrado
7085         69996 2019-12-26  Center Shopping Uberlândia           Mochila
7086         69996 2019-12-26  Center Shopping Uberlândia  Pulseira Estampa
7087         69997 2019-12-26           Ribeirão Shopping   Camisa Listrado
7088         69997 2019-12-26           Ribeirão Shopping       Short Linho

      Quantidade  Valor Unitário  Valor Final  Comissão  Imposto
0              1             358          358     17.90        0
1              2             180          360     18.00        0
2              1             368          368     18.40        0
3              3             200          600     30.00        0
4              1              71           71      3.55        0
...          ...             ...          ...       ...      ...
7084           2             102          204     10.20        0
7085           4             270         1080     54.00        0
7086           1              87           87      4.35        0
7087           1             108          108      5.40        0
7088           2             133          266     13.30        0

[108088 rows x 9 columns]

### Adicionar 1 linha
    - Linhas de um complemento da base de dados

In [18]:
sales_dec_df = pd.read_excel('./databases/Vendas - Dez.xlsx')
print(sales_dec_df)

sales_df = sales_df.append(sales_dec_df)
print(sales_df)

      Código Venda       Data                     ID Loja           Produto  \
0            65014 2019-12-01            Shopping Morumbi    Sunga Listrado
1            65014 2019-12-01            Shopping Morumbi   Casaco Listrado
2            65016 2019-12-01           Iguatemi Campinas   Sapato Listrado
3            65016 2019-12-01           Iguatemi Campinas            Casaco
4            65017 2019-12-01          Shopping SP Market        Gorro Liso
...            ...        ...                         ...               ...
7084         69996 2019-12-26  Center Shopping Uberlândia    Short Listrado
7085         69996 2019-12-26  Center Shopping Uberlândia           Mochila
7086         69996 2019-12-26  Center Shopping Uberlândia  Pulseira Estampa
7087         69997 2019-12-26           Ribeirão Shopping   Camisa Listrado
7088         69997 2019-12-26           Ribeirão Shopping       Short Linho

      Quantidade  Valor Unitário  Valor Final
0              5             114          570
1              1             269          269
2              2             363          726
3              1             250          250
4              3              92          276
...          ...             ...          ...
7084           2             102          204
7085           4             270         1080
7086           1              87           87
7087           1             108          108
7088           2             133          266

[7089 rows x 7 columns]
      Código Venda       Data                     ID Loja           Produto  \
0                1 2019-01-01          Iguatemi Esplanada    Sapato Estampa
1                1 2019-01-01          Iguatemi Esplanada          Camiseta
2                1 2019-01-01          Iguatemi Esplanada     Sapato Xadrez
3                2 2019-01-02              Norte Shopping           Relógio
4                2 2019-01-02              Norte Shopping      Chinelo Liso
...            ...        ...                         ...               ...
7084         69996 2019-12-26  Center Shopping Uberlândia    Short Listrado
7085         69996 2019-12-26  Center Shopping Uberlândia           Mochila
7086         69996 2019-12-26  Center Shopping Uberlândia  Pulseira Estampa
7087         69997 2019-12-26           Ribeirão Shopping   Camisa Listrado
7088         69997 2019-12-26           Ribeirão Shopping       Short Linho

      Quantidade  Valor Unitário  Valor Final  Comissão  Imposto
0              1             358          358     17.90      0.0
1              2             180          360     18.00      0.0
2              1             368          368     18.40      0.0
3              3             200          600     30.00      0.0
4              1              71           71      3.55      0.0
...          ...             ...          ...       ...      ...
7084           2             102          204       NaN      NaN
7085           4             270         1080       NaN      NaN
7086           1              87           87       NaN      NaN
7087           1             108          108       NaN      NaN
7088           2             133          266       NaN      NaN

[108088 rows x 9 columns]

C:\Users\Athirson\AppData\Local\Temp\ipykernel_5536\964580382.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sales_df = sales_df.append(sales_dec_df)

### Excluir linhas e colunas

In [25]:
sales_df = sales_df.drop('Imposto', axis = 1)
print(sales_df)

      Código Venda       Data                     ID Loja           Produto  \
0                1 2019-01-01          Iguatemi Esplanada    Sapato Estampa
1                1 2019-01-01          Iguatemi Esplanada          Camiseta
2                1 2019-01-01          Iguatemi Esplanada     Sapato Xadrez
3                2 2019-01-02              Norte Shopping           Relógio
4                2 2019-01-02              Norte Shopping      Chinelo Liso
...            ...        ...                         ...               ...
7084         69996 2019-12-26  Center Shopping Uberlândia    Short Listrado
7085         69996 2019-12-26  Center Shopping Uberlândia           Mochila
7086         69996 2019-12-26  Center Shopping Uberlândia  Pulseira Estampa
7087         69997 2019-12-26           Ribeirão Shopping   Camisa Listrado
7088         69997 2019-12-26           Ribeirão Shopping       Short Linho

      Quantidade  Valor Unitário  Valor Final  Comissão
0              1             358          358     17.90
1              2             180          360     18.00
2              1             368          368     18.40
3              3             200          600     30.00
4              1              71           71      3.55
...          ...             ...          ...       ...
7084           2             102          204     10.20
7085           4             270         1080     54.00
7086           1              87           87      4.35
7087           1             108          108      5.40
7088           2             133          266     13.30

[108088 rows x 8 columns]

### Valores Vazios
    - Deletar linhas/colunas vazias
    - Deletar linhas que possuem valores vazios
    - Preencher valores vazios (média e último valor)

In [30]:
# Delete values
# sales_df = sales_df.dropna(how = 'all')
# sales_df = sales_df.dropna()

# Fill with the column mean
# sales_df['Comissão'] = sales_df['Comissão'].fillna(sales_df['Comissão'].mean())
# print(sales_df)

# Fill with the latest value
sales_df = sales_df.ffill()
print(sales_df)

      Código Venda       Data                     ID Loja           Produto  \
0                1 2019-01-01          Iguatemi Esplanada    Sapato Estampa
1                1 2019-01-01          Iguatemi Esplanada          Camiseta
2                1 2019-01-01          Iguatemi Esplanada     Sapato Xadrez
3                2 2019-01-02              Norte Shopping           Relógio
4                2 2019-01-02              Norte Shopping      Chinelo Liso
...            ...        ...                         ...               ...
7084         69996 2019-12-26  Center Shopping Uberlândia    Short Listrado
7085         69996 2019-12-26  Center Shopping Uberlândia           Mochila
7086         69996 2019-12-26  Center Shopping Uberlândia  Pulseira Estampa
7087         69997 2019-12-26           Ribeirão Shopping   Camisa Listrado
7088         69997 2019-12-26           Ribeirão Shopping       Short Linho

      Quantidade  Valor Unitário  Valor Final  Comissão
0              1             358          358     17.90
1              2             180          360     18.00
2              1             368          368     18.40
3              3             200          600     30.00
4              1              71           71      3.55
...          ...             ...          ...       ...
7084           2             102          204     10.20
7085           4             270         1080     54.00
7086           1              87           87      4.35
7087           1             108          108      5.40
7088           2             133          266     13.30

[108088 rows x 8 columns]

### Calcular Indicadores
    - Groupby
    - Value Counts

In [36]:
# Value counts
# deals_per_store = sales_df['ID Loja'].value_counts()
# print(deals_per_store)

# Groupby
sum_profits_product = sales_df[['Produto', 'Valor Final']].groupby('Produto').sum()
mean_profits_product = sales_df[['Produto', 'Valor Final']].groupby('Produto').mean()
print(sum_profits_product)
print(mean_profits_product)

                  Valor Final
Produto
Bermuda                290700
Bermuda Estampa        310284
Bermuda Linho          420225
Bermuda Liso           294375
Bermuda Listrado       313449
...                       ...
Tênis Estampa          489728
Tênis Linho            573594
Tênis Liso             508592
Tênis Listrado         506970
Tênis Xadrez           489251

[120 rows x 1 columns]
                  Valor Final
Produto
Bermuda            325.896861
Bermuda Estampa    364.611046
Bermuda Linho      429.239019
Bermuda Liso       344.701405
Bermuda Listrado   347.119601
...                       ...
Tênis Estampa      546.571429
Tênis Linho        631.711454
Tênis Liso         570.810325
Tênis Listrado     568.989899
Tênis Xadrez       541.806202

[120 rows x 1 columns]

### Mesclar 2 dataframes (Procurar informações de um dataframe em outro)

In [38]:
manager_df = pd.read_excel('./databases/Gerentes.xlsx')
# print(manager_df)

# Merge databases
sales_df = sales_df.merge(manager_df)
print(sales_df)

        Código Venda       Data             ID Loja                 Produto  \
0                  1 2019-01-01  Iguatemi Esplanada          Sapato Estampa
1                  1 2019-01-01  Iguatemi Esplanada                Camiseta
2                  1 2019-01-01  Iguatemi Esplanada           Sapato Xadrez
3                 21 2019-01-02  Iguatemi Esplanada  Camisa Gola V Listrado
4                 34 2019-01-02  Iguatemi Esplanada         Sapato Listrado
...              ...        ...                 ...                     ...
108083         69846 2019-12-25   Salvador Shopping           Short Estampa
108084         69846 2019-12-25   Salvador Shopping           Tênis Estampa
108085         69850 2019-12-25   Salvador Shopping           Calça Estampa
108086         69972 2019-12-26   Salvador Shopping              Terno Liso
108087         69972 2019-12-26   Salvador Shopping          Sapato Estampa

        Quantidade  Valor Unitário  Valor Final  Comissão   Gerente
0                1             358          358     17.90  Salvador
1                2             180          360     18.00  Salvador
2                1             368          368     18.40  Salvador
3                2             116          232     11.60  Salvador
4                1             363          363     18.15  Salvador
...            ...             ...          ...       ...       ...
108083           2              96          192      9.60    Mateus
108084           5             256         1280     64.00    Mateus
108085           4             177          708     35.40    Mateus
108086           3             720         2160    108.00    Mateus
108087           5             358         1790     89.50    Mateus

[108088 rows x 9 columns]

### Como continuar aprendendo?

### Minicurso Gratuito de Análise de Dados com Python na Descrição